<!DOCTYPE html> 
<html lang = "en"> 
<head> 
	<meta charset = "UTF-8"> 
	<meta name = "viewport"
	content ="width=device-width, initial-scale = 1.0"> 
	<title> PayPal Node App </title> 
</head> 
<body> 
<h1> Welcome! </h1> 

<h2> Supreme Hat: $100 </h2> 
<img src ="https://cf.shopee.com.my/file/19d5588b77f6d955461d0ec4460cf28d"> 
<h3> <em> Sold out online! </em> </h3> 

<form action ="/pay" method ="POST"> 

	<input type ="submit" value = "Buy now!"> 
</form>

<p> Note: Clicking "Buy now!" will redirect you to PayPal to complete the purchase. </p>
</body> 
</html> 
