<h1> Your order has been successful! </h1> 
<h2> Order Details: </h2> 

<p> Order ID: <%= paymentobj.id %> </p> 

<p> Thank you for your order! Check your email at <%= paymentobj.payer.payer_info.email %> to receive updates on your order! </p>
